{% load static %}

<html>

<head>
    <title>PetLife</title>
    <meta name="description" content="Garanta uma vida longa e cheia de alegria para o seu melhor amigo">

    <link rel="stylesheet" href="{% static 'site_app/css/style.css' %}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600&display=swap" rel="stylesheet">
</head>
<body>
    


  <header>
    <a href="index.html">
      <img src="{% static 'site_app/img/logo-white.svg' %}" alt="PetLife">
    </a>
    <nav>
      <a href="index.html">Início</a>
      <a href="clinica.html">Clínica</a>
      <a href="farmacia.html">Farmácia</a>
      <a href="duvidas.html">Dúvidas</a>
    </nav>
  </header>

  <main>
    <section class id="clinica">
        <div>
            <h2>Cuidado! Veterinário de qualidade</h2>
            <p class="paragrafo">
                Nossa clínica veterinária é o local onde a paixão pelos animais se une à excelência em cuidados veterinários.
                Sob a liderança da Dra. Vivien Reid, uma profissional altamente qualificada e comprometida, oferecemos
                serviços de saúde e bem-estar para animais de estimação de todas as espécies. Venha conhecer nossa clínica e desfrute
                da atenção personalizada e do carinho que seu pet merece.</p>
            <ul>
                <li>Consultas de rotina e exames de saúde abrangentes</li>
                <li>Vacinação e imunização</li>
                <li>Cirurgias e procedimentos veterinários</li>
                <li>Tratamento e controle de doenças</li>
                <li>Odontologia veterinária</li>
                <li>Atendimento de emergência 24 horas</li>
                <li>Nutrição e aconselhamento alimentar personalizado</li>
            </ul>    
        </div>

        <img src="{% static 'site_app/img/clinic-img.svg' %}" alt="" width="480" height="480">
    </section>
  </main>

  <footer>
    <div>
      <img src="{% static 'site_app/img/logo.svg' %}" alt="PetLife">
      <p>Cuidando com amor, vivendo com alegria: PetLife, onde a vida dos pets é mais feliz!</p>
    </div>

    <div>
      <strong class="titulo">Links rápidos</strong>
      <nav>
        <a href="index.html">Início</a>
        <a href="clinica.html">Clínica</a>
        <a href="farmacia.html">Farmácia</a>
        <a href="duvidas.html">Dúvidas</a>
      </nav>
    </div>

    <div>
      <strong class="titulo">Encontre-nos</strong>
      <p>WhatsApp: <a href="https://wa.me/552298765-4321" target="_blank">(22) 98765-4321</a></p>
      <p>Email: <a href="mailto:contato@petlife.com">contato@petlife.com.br</a></p>
      <p>Endereço: Av. 7 de Setembro, nº 42, Centro</p>
    </div>

    
  </footer>
  <div class="copyright">
    Desenvolvido por <a href="https://github.com/fabrizio-dsc" target="_blank">@pomboy_hun</a>
    na atividade SA3 Desenvolvimento de Sistema
  </div>

</body>

</html>