{% load static %}

<html>
  {% include "site_app/partials/head.html" %}


<body>
    


{% include "site_app/partials/header.html" %}

  <main>
    <section class id="clinica">
        <div>
            <h2>Cuidado! Veterinário de qualidade</h2>
            <p class="paragrafo">
                Nossa clínica veterinária é o local onde a paixão pelos animais se une à excelência em cuidados veterinários.
                Sob a liderança da Dra. Vivien Reid, uma profissional altamente qualificada e comprometida, oferecemos
                serviços de saúde e bem-estar para animais de estimação de todas as espécies. Venha conhecer nossa clínica e desfrute
                da atenção personalizada e do carinho que seu pet merece.</p>
            <ul>
                <li>Consultas de rotina e exames de saúde abrangentes</li>
                <li>Vacinação e imunização</li>
                <li>Cirurgias e procedimentos veterinários</li>
                <li>Tratamento e controle de doenças</li>
                <li>Odontologia veterinária</li>
                <li>Atendimento de emergência 24 horas</li>
                <li>Nutrição e aconselhamento alimentar personalizado</li>
            </ul>    
        </div>

        <img src="{% static 'site_app/img/clinic-img.svg' %}" alt="" width="480" height="480">
    </section>
  </main>

    {% include "site_app/partials/footer.html" %}

    {% include "site_app/partials/copyright.html" %}

</body>

</html>