<html>

<head>
    <title>PetLife</title>
    <meta name="description" content="Garanta uma vida longa e cheia de alegria para o seu melhor amigo">

    <link rel="stylesheet" href="style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600&display=swap" 
    rel="stylesheet">

</head>
<body>
    


  <header>
    <a href="index.html">
      <img src="img/logo-white.svg" alt="PetLife">
    </a>
    <nav>
      <a href="index.html">Início</a>
      <a href="clinica.html">Clínica</a>
      <a href="farmacia.html">Farmácia</a>
      <a href="duvidas.html">Dúvidas</a>
    </nav>
  </header

    <main>
        <section id="farmacia">
            <h2>Venha conferir o nosso petshop e farmácia</h2>
            <img src="img/shop-img.svg" alt="" width="645" height="430">
            <p class="paragrafo">Além de ser uma clínica veterinária de confiança, também contamos com um completo petshop e farmácia. Nosso
                petshop oferece uma ampla seleção de produtos de alta qualidade, desde alimentos balanceados e petiscos
                deliciosos até brinquedos divertidos e acessórios elegantes para o seu pet. Na nossa farmácia, você encontrará
                uma variedade de medicamentos, produtos de cuidados e suplementos recomendados pelos nossos veterinários,
                garantindo que o bem-estar e a saúde do seu amado pet estejam sempre em boas mãos. Tudo o que você precisa para
                cuidar e mimar o seu pet está aqui, no nosso petshop e farmácia, com a mesma dedicação e qualidade que nos
                tornou referência na área veterinária.</p>
             
        </section>
    </main>

    <footer>
        <div>
          <img src="img/logo.svg" alt="PetLife">
          <p>Cuidando com amor, vivendo com alegria: PetLife, onde a vida dos pets é mais feliz!</p>
        </div>
    
        <div>
          <strong class="titulo">Links rápidos</strong>
          <nav>
            <a href="index.html">Início</a>
            <a href="clinica.html">Clínica</a>
            <a href="farmacia.html">Farmácia</a>
            <a href="duvidas.html">Dúvidas</a>
          </nav>
        </div>
    
        <div>
          <strong class="titulo">Encontre-nos</strong>
          <p>WhatsApp: <a href="https://wa.me/552298765-4321" target="_blank">(22) 98765-4321</a></p>
          <p>Email: <a href="mailto:contato@petlife.com">contato@petlife.com.br</a></p>
          <p>Endereço: Av. 7 de Setembro, nº 42, Centro</p>
        </div>
        
        
      </footer>
      <div class="copyright">
        Desenvolvido por <a href="https://github.com/fabrizio-dsc" target="_blank">@pomboy_hun</a>
        na atividade SA3 Desenvolvimento de Sistema
      </div>

</body>

</html>