{% load static %}


<footer>
    <div>
      <img src="{% static 'site_app/img/logo.svg' %}" alt="PetLife">
      <p>Cuidando com amor, vivendo com alegria: PetLife, onde a vida dos pets é mais feliz!</p>
    </div>

    <div>
      <strong class="titulo">Links rápidos</strong>
      <nav>
        <a href="/">Início</a>
        <a href="/clinica">Clínica</a>
        <a href="/farmacia">Farmácia</a>
        <a href="/duvidas">Dúvidas</a>
      </nav>
    </div>

    <div>
      <strong class="titulo">Encontre-nos</strong>
      <p>WhatsApp: <a href="https://wa.me/552298765-4321" target="_blank">(22) 98765-4321</a></p>
      <p>Email: <a href="mailto:contato@petlife.com">contato@petlife.com.br</a></p>
      <p>Endereço: Av. 7 de Setembro, nº 42, Centro</p>
    </div>

  </footer>